@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@500;600;700&display=swap");

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.1);
    opacity: 0.1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.navbar .nav-link i {
  animation: pulse 1s infinite;
}

.card-container {
  position: relative;
  overflow: hidden;
}

.quick-view-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card-container:hover .quick-view-btn {
  opacity: 1;
}

.card-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* style.css */

/* Ensure the body and html take up the full height */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 170%;
}

.container {
  flex-grow: 4;
}

footer {
  background-color: #009688;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: auto; /* Push the footer to the bottom */
}
